{{ define "main" -}}
{{ .Content }}

{{ range .Site.Data.research }}

<!-- START WP -->
{{ with .a_workingpapers }}
<h2>Working Papers</h2>
{{ range . }}
<p>
<h3 style="margin:20px 0 5px;">{{ with .pdflink }}<a href="{{ . }}" target="blank">{{ end }}{{ .title
        }}{{ with .pdflink }}</a>{{ end }}</h3>

    
    {{ with .links2 }}
    with
        {{ range . }} 
            <a href="{{ .linkURL }}" target="blank">{{ .linkText }}</a>
        {{ end }}
    
    {{ end }}
    
    <!-- {{ with .coauthor}}<p style="margin:0 0 5px;">(with {{ . }})</p>{{ end }} -->
    {{ with .note }}<p style="margin:0 0 5px;">{{ . }}</p>{{ end }}
    {{ with .book }}<p style="margin:0 0 5px;"><em>{{ . }}</em></p>{{ end }}
    <details>
        <summary> <span style="color:#057ab1">Abstract [+]</span> </summary>
    
        {{ with .abstract }}<p style="margin:0 0 5px;">{{ . }}</p>{{ end }}
    </details>

    {{ with .links }}
    {{ range . }}<p style="margin:0 0 5px;"></p><a href="{{ .url }}" target="blank">{{ .text }}</a>{{ end }}
    {{ end }}

    {{ with .links3 }}
    {{ range . }}<p style="margin:0 0 5px;"></p><a href="{{ .url }}" target="blank">{{ .text }}</a>{{ end }}
    {{ end }}

    </p>
{{ end }}
{{ end }}
<!-- END WP -->



<!-- START WORK IN PROGRESS  -->

{{ with .b_workinprogress }}
<h2>Work in Progress</h2>
{{ range . }}
<p>
<h3 style="margin:20px 0 5px;">{{ with .pdflink }}<a href="{{ . }}" target="blank">{{ end }}{{ .title
        }}{{ with .pdflink }}</a>{{ end }}</h3>


    {{ with .links2 }}
    with
    {{ range . }}
    <a href="{{ .linkURL }}" target="blank">{{ .linkText }}</a>
    {{ end }}
    
    {{ end }}


<!-- {{ with .coauthor}}<p style="margin:0 0 5px;">(with {{ . }})</p>{{ end }} -->
{{ with .note }}<p style="margin:0 0 5px;">{{ . }}</p>{{ end }}
{{ with .book }}<p style="margin:0 0 5px;"><em>{{ . }}</em></p>{{ end }}

{{ with .abstract }}
<details>
    <summary> <span style="color:#057ab1">Abstract [+]</span> </summary>

    <p style="margin:0 0 5px;">{{ . }}</p>
</details>
{{ end }}

{{ with .links }}
{{ range . }}<p style="margin:0 0 5px;"></p><a href="{{ .url }}" target="blank">{{ .text }}</a>{{ end }}
{{ end }}
</p>
{{ end }}
{{ end }}
<!-- END WORK IN PROGRESS -->

<!-- START PUBLICATIONS -->
{{ with .c_publications }}
<h2>Publications</h2>
{{ range . }}
<p>
<h3 style="margin:20px 0 5px;">{{ with .pdflink }}<a href="{{ . }}" target="blank">{{ end }}{{ .title
        }}{{ with .pdflink }}</a>{{ end }}</h3>


{{ with .links2 }}
with
{{ range . }}
<a href="{{ .linkURL }}" target="blank">{{ .linkText }}</a>
{{ end }}

{{ end }}


<!-- {{ with .coauthor}}<p style="margin:0 0 5px;">(with {{ . }})</p>{{ end }} -->
{{ with .note }}<p style="margin:0 0 5px;">{{ . }}</p>{{ end }}
{{ with .book }}<p style="margin:0 0 5px;"><em>{{ . }}</em></p>{{ end }}
<details>
    <summary> <span style="color:#057ab1">Abstract [+]</span> </summary>

    {{ with .abstract }}<p style="margin:0 0 5px;">{{ . }}</p>{{ end }}
</details>
{{ with .links }}
{{ range . }}<a href="{{ .url }}" target="blank">{{ .text }}</a>{{ end }}
{{ end }}
</p>
{{ end }}
{{ end }}
<!-- END PUBLICATIONS -->
<hr>
{{ end }}
{{- end }}